@import "tailwindcss";
@theme {
 --color-primary: #5f4a94;
  --color-secondary: #e0c9a4;
}

body {
  font-family: 'openSans', sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-in-out forwards;
}
